.github/**
.vscode/**
.vscode-test/**
assets/**
out/test/**
test/**
docs/**
node_modules/**
src/**
.gitignore
CODE_OF_CONDUCT.md
CONTRIBUTING.md
package-lock.json
**/tsconfig.json
**/tslint.json
**/webpack.config.js
**/*.vsix
**/*.map
**/*.ts